body>.container {
    padding: 20px;
    border-style: none;
}

.card>img {
    margin: 0.8rem;
    padding: 0.8rem;
    height: 20vh;
    object-fit: contain;
}

.bacg-empty {
    background-color: #BFCED6;
}

.bacg-inform {
    background-color: #D9E1E2;
}

.button {
    background-color: #BFCED6;
}