body>.container {
    padding: 20px;
    border-style: none;
}

.card>img {
    margin: 0.8rem;
    padding: 0.8rem;
    height: 20vh;
    object-fit: contain;
}

.information-dog {
    display: flex;
    flex-direction: column;
    margin: 5rem 0 0 15rem;
}

.bacg-empty {
    background-color: #BFCED6;
}

.bacg-inform {
    left: 30rem;
    top: 18rem;
    background-color: #D9E1E2;
    height: 60%;
}

.button {
    background-color: #BFCED6;
}